/*Body style*/

body {
    background-image: url(images/carboned.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}


/*Navigations style*/

header {
    line-height: 22px;
    display: block;
}

#blackPart {
    background-color: #1f2324;
    height: 126px;
    position: fixed;
    top: 0;
    width: 100%;
}

#brandSite {
    box-sizing: border-box;
    padding-bottom: 36px;
    padding-top: 36px;
    line-height: 54px;
    font-size: 54px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    float: left;
    animation-name: example;
    animation-duration: 4s;
}

#homePage {
    text-decoration: none;
    color: white;
}


/*Movie animation*/

@keyframes example {
    from {
        background-color: #f73a4c;
    }
    to {
        background-color: #1f2324;
    }
}

#navigationSection {
    box-sizing: border-box;
    float: right;
    display: block;
}

#firstNavigation {
    box-sizing: border-box;
    display: inline-block;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    padding-bottom: 27px;
    padding-top: 26px;
}

.firstLi {
    box-sizing: border-box;
    float: left;
    padding: 21px 13px;
}

.firstLi>a {
    text-decoration: none;
    color: dimgray;
}

.firstLi>a:hover {
    color: white;
    transition: color 1s ease;
}

img {
    width: 18px;
    height: 18px;
    image-orientation: center;
}

#search {
    width: 0;
    background-color: #2b303b;
    border-color: #2b303b;
    padding-top: 5px;
    box-sizing: border-box;
    color: white;
}

#search:hover {
    width: 200px;
    transition: width 1s ease;
}

#search:focus {
    color: #f73a4c;
}

#navigationSectionTwo {
    display: block;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    background: #f73a4c;
    margin-top: 126px;
}

#secondNavigation {
    display: inline-block;
    box-sizing: border-box;
    object-position: bottom;
}

.secondLi {
    box-sizing: border-box;
    float: left;
    vertical-align: top;
    padding: 21px 13px;
}

.secondLi>a {
    text-decoration: none;
    color: white;
}


/*Main style*/

#carousel {
    background: url(images/spongebob-movie.jpg);
    width: 100%;
    height: 801px;
    background-position: center;
    background-size: cover;
}

#spongebob {
    box-sizing: border-box;
    text-align: center;
    color: white;
    padding-top: 300px;
}

#spongebob h1 {
    box-sizing: border-box;
    font-size: 60px;
    text-shadow: 2px 2px #2b303b;
}

#spongebob p {
    padding: 40px;
    text-shadow: 2px 2px #2b303b;
}

#spongebob a {
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    border: solid white 2px;
    padding: 20px 30px;
    border-radius: 35px;
    font-size: 13px;
}

#spongebob a:hover {
    background-color: #f73a4c;
    transition: color 1s ease;
}

#movieGallery {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    padding-top: 150px;
}

#movieGallery>div>img {
    width: 200px;
    height: 200px;
}

#movieGallery>div>img:hover {
    width: 300px;
    transition: width 0.5s ease;
}

#mobile {
    display: none;
}

@media all and (max-width:900px) {
    #firstNavigation {
        display: none;
    }
    #mobile {
        display: block;
        text-align: center;
        background-color: #2b303b;
        color: white;
        font-weight: 300;
    }
    #mobileNav select {
        width: 100%;
    }
}

@media all and (max-width:550px) {
    #container {
        width: 100%;
    }
    #movieGallery>div>img {
        width: 100px;
        height: 100px;
    }
    #movieGallery>div>img:hover {
        width: 120px;
        transition: width 0.5s ease;
    }
    #movieGallery {
        padding-top: 50px;
    }
}

@media all and (max-width:450px) {
    #spongebob {
        padding-top: 550px;
    }
    #spongebob h1 {
        font-size: 30px;
        text-shadow: 1px 1px #2b303b;
    }
    #spongebob p {
        padding: 20px;
        text-shadow: 1px 1px #2b303b;
    }
    #spongebob a {
        color: white;
        border: solid white 2px;
        padding: 10px 15px;
        border-radius: 25px;
        font-size: 7px;
    }
}