    /*////////
    Body style
    ////////*/
    
    body {
        background-image: url(../images/carboned.jpg);
        background-repeat: repeat;
        background-size: auto;
        background-attachment: scroll;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .advertising {
        width: 13%;
        height: auto;
        float: left;
        filter: drop-shadow(5px 5px 8px skyblue);
        position: relative;
    }
    
    .advertising>a>img {
        width: 100%;
        height: auto;
    }
    
    #container {
        width: 70%;
        margin-left: 15%;
    }
    /*///////////////
    Navigations style
    ///////////////*/
    
    header {
        display: block;
    }
    
    #blackPart {
        background-color: #1f2324;
        height: 5em;
        top: 0;
        width: 100%
    }
    
    #brandSite {
        box-sizing: border-box;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        vertical-align: center;
        float: left;
        animation-name: example;
        animation-duration: 3s;
    }
    
    @keyframes example {
        from {
            background-color: dodgerblue;
        }
        to {
            background-color: #1f2324;
        }
    }
    
    #homePage {
        text-decoration: none;
        color: white;
    }
    
    #homePage>h1 {
        margin-top: 10px;
    }
    
    #mobile {
        display: none;
    }
    
    #navigationSection {
        box-sizing: border-box;
        float: right;
        display: block;
    }
    
    #firstNavigation {
        box-sizing: border-box;
        display: inline-block;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 0em;
        padding-top: 0em;
    }
    
    .firstLi {
        box-sizing: border-box;
        float: left;
        padding: 1em 1em;
    }
    
    .firstLi>a {
        text-decoration: none;
        color: dimgray;
    }
    
    .carousel-inner .item img {
        display: center;
        width: auto;
        height: 450px;
    }
    
    .carousel-inner .item p {
        color: black;
        font-size: 1.1em;
    }
    
    .carousel-inner .item h3 {
        color: darkblue
    }
    
    .firstLi>a>img {
        width: 3em;
        height: 3em;
    }
    
    .firstLi>a:hover {
        color: dodgerblue;
        transition: color 0.8s ease;
    }
    
    img {
        width: 18px;
        height: 18px;
        image-orientation: center;
    }
    
    #search {
        width: 0;
        background-color: dodgerblue;
        border-color: #2b303b;
        padding-top: 5px;
        box-sizing: border-box;
        color: white;
    }
    
    #search:hover {
        width: 100px;
        transition: width 0.5s ease;
    }
    
    #search:focus {
        width: 100px;
    }
    
    #navigationSectionTwo {
        display: block;
        font-size: 13px;
        line-height: 2em;
        text-align: center;
        text-transform: uppercase;
        background: dodgerblue;
        padding-top: 1em;
        padding-bottom: 0.5em;
    }
    
    #secondNavigation {
        display: inline-block;
        box-sizing: border-box;
        object-position: bottom;
    }
    
    .secondLi {
        box-sizing: border-box;
        float: left;
        vertical-align: top;
        padding: 0em 0em;
        border-radius: 35px;
    }
    
    .secondLi:hover {
        background-color: white;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
    }
    
    #headList {
        box-sizing: border-box;
        float: left;
        vertical-align: top;
        padding: 0em 0em;
        border-radius: 35px;
    }
    
    #headList:hover {
        background-color: white;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
    }
    
    #headList>a {
        padding: 0.5em 0.6em;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    
    #headList>a:hover {
        text-decoration: none;
        color: dodgerblue;
        -webkit-transition: color 0.5s ease;
        -moz-transition: color 0.5s ease;
        transition: color 0.5s ease;
    }
    
    .secondLi>a {
        text-decoration: none;
        color: white;
        padding: 0.5em 0.6em;
    }
    
    .secondLi>a:hover {
        text-decoration: none;
        color: black;
        -webkit-transition: color 0.5s ease;
        -moz-transition: color 0.5s ease;
        transition: color 0.5s ease;
    }
    /*//////
    FOOTER
    //////*/
    
    footer {
        width: 100%;
        height: auto;
        background-image: url('../images/carbonFooter.jpg');
        border-top: outset 5px white;
        border-bottom: outset 5px white;
    }
    
    #newsSites {
        display: inline-block;
    }
    
    #newsSites>article {
        box-sizing: border-box;
        float: left;
        width: 31%;
        height: auto;
        filter: drop-shadow(5px 5px 8px black);
    }
    
    .partnerNews {
        display: block;
        margin-bottom: 10%;
        margin-top: 10%;
    }
    
    .partnerNews>a>img {
        width: 150px;
        height: 150px;
        margin-left: 30%;
        border: outset 5px white;
    }
    
    .partnerNews>a:hover {
        opacity: 1;
    }
    
    .partnerNews>a>figcaption {
        height: auto;
        text-align: center;
        margin: 0% 20% 0% 27%;
    }
    
    .partnerNews>a>figcaption>p {
        color: dodgerblue;
    }
    
    .partnerNews>a>figcaption>h1 {
        font-weight: bold;
    }
    
    .partnerNews>a {
        text-decoration: none;
        font-size: 13px;
        text-align: center;
        color: white;
        opacity: 0.8;
    }
    /*///////////////
    Responsive Layout
    ///////////////*/
    
    @media all and (max-width:900px) {
        #firstNavigation {
            font-size: 8px;
        }
        .partnerNews>a>img {
            width: 100px;
            height: 100px;
            border: outset 3px white;
        }
    }
    
    @media all and (max-width:700px) {
        #search:hover {
            width: 50px;
            transition: width 0.5s ease;
        }
        #search:focus {
            width: 50px;
        }
        .partnerNews>a>img {
            width: 50px;
            height: 50px;
            border: outset 2px white;
        }
        footer {
            border-top: outset 2px white;
            border-bottom: outset 2px white;
        }
    }
    
    @media all and (max-width:590px) {
        body {
            background-attachment: fixed;
        }
        #navigationSectionTwo {
            display: none;
        }
        #mobile {
            display: block;
            text-align: center;
            background-color: #2b303b;
            color: white;
        }
        .advertising {
            display: none;
        }
        #mobileNav select {
            width: 100%;
        }
        #container {
            width: 100%;
            margin-left: 0%;
        }
        #blackPart {
            width: 100%;
            height: 45px;
        }
        #homePage>h1 {
            margin-top: 8px;
            font-size: 13px;
        }
        #brandSite {
            height: 45px;
            padding-top: 0px;
        }
        #firstNavigation {
            font-size: 8px;
            margin-bottom: 0px;
        }
        .partnerNews>a {
            font-size: 8px;
        }
    }