    /*////////
    Body style
    ////////*/
    
    body {
        background-image: url(../images/carboned.jpg);
        background-repeat: repeat;
        background-size: auto;
        background-attachment: scroll;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .advertising {
        width: 13%;
        height: auto;
        float: left;
        filter: drop-shadow(5px 5px 8px skyblue);
        position: fixed;
    }
    
    .advertising>a>img {
        width: 100%;
        height: auto;
    }
    
    .advertising>a {
        width: 100%;
        height: auto;
    }
    
    #container {
        width: 70%;
        margin-left: 15%;
        z-index: 1;
    }
    
    #ImperiaOnline {
        padding-top: 100px;
    }
    /*///////////////
    NAVIGATION STYLE
    ///////////////*/
    
    header {
        display: block;
    }
    
    #blackPart {
        background-color: #1f2324;
        height: 5em;
        top: 0;
        width: 100%;
    }
    
    #brandSite {
        box-sizing: border-box;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        vertical-align: center;
        float: left;
        animation-name: example;
        animation-duration: 3s;
    }
    
    @keyframes example {
        from {
            background-color: dodgerblue;
        }
        to {
            background-color: #1f2324;
        }
    }
    
    #homePage {
        text-decoration: none;
        color: white;
    }
    
    #homePage>h1 {
        margin-top: 10px;
    }
    
    #mobile {
        display: none;
    }
    
    #navigationSection {
        box-sizing: border-box;
        float: right;
        display: block;
    }
    
    #firstNavigation {
        box-sizing: border-box;
        display: inline-block;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 0em;
        padding-top: 0em;
    }
    
    .firstLi {
        box-sizing: border-box;
        float: left;
        padding: 1em 1em;
    }
    
    .firstLi>a {
        text-decoration: none;
        color: dimgray;
    }
    
    .carousel-inner .item img {
        display: center;
        width: auto;
        height: 450px;
    }
    
    .carousel-inner .item p {
        color: black;
        font-size: 1.1em;
    }
    
    .carousel-inner .item h3 {
        color: darkblue
    }
    
    .firstLi>a>img {
        width: 3em;
        height: 3em;
    }
    
    .firstLi>a:hover {
        color: dodgerblue;
        transition: color 0.8s ease;
    }
    
    img {
        width: 18px;
        height: 18px;
        image-orientation: center;
    }
    
    #search {
        width: 0;
        background-color: dodgerblue;
        border-color: #2b303b;
        padding-top: 5px;
        box-sizing: border-box;
        color: white;
    }
    
    #search:hover {
        width: 100px;
        transition: width 0.5s ease;
    }
    
    #search:focus {
        width: 100px;
    }
    
    #navigationSectionTwo {
        display: block;
        font-size: 13px;
        line-height: 2em;
        text-align: center;
        text-transform: uppercase;
        background: dodgerblue;
        padding-top: 1em;
        padding-bottom: 0.5em;
    }
    
    #secondNavigation {
        display: inline-block;
        box-sizing: border-box;
        object-position: bottom;
    }
    
    .secondLi {
        box-sizing: border-box;
        float: left;
        vertical-align: top;
        padding: 0em 0em;
        border-radius: 35px;
    }
    
    .secondLi:hover {
        background-color: white;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
    }
    
    #headList {
        box-sizing: border-box;
        float: left;
        vertical-align: top;
        padding: 0em 0em;
        border-radius: 35px;
    }
    
    #headList:hover {
        background-color: white;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
    }
    
    #headList>a {
        padding: 0.5em 0.6em;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    
    #headList>a:hover {
        text-decoration: none;
        color: dodgerblue;
        -webkit-transition: color 0.5s ease;
        -moz-transition: color 0.5s ease;
        transition: color 0.5s ease;
    }
    
    .secondLi>a {
        text-decoration: none;
        color: white;
        padding: 0.5em 0.6em;
    }
    
    .secondLi>a:hover {
        text-decoration: none;
        color: black;
        -webkit-transition: color 0.5s ease;
        -moz-transition: color 0.5s ease;
        transition: color 0.5s ease;
    }
    /*//////
    CAROUSEL
    //////*/
    
    .storydiv {
        height: 400px;
        width: 100%;
        position: relative;
    }
    
    #image1 {
        height: 400px;
        width: 100%;
    }
    
    #image2 {
        height: 400px;
        width: 100%;
    }
    
    #image3 {
        height: 400px;
        width: 100%;
    }
    
    #image4 {
        height: 400px;
        width: 100%;
    }
    
    #story2 {
        display: none;
    }
    
    #story3 {
        display: none;
    }
    
    #story4 {
        display: none;
    }
    
    .fStory {
        display: block;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
        color: white;
        filter: drop-shadow(2px 2px 3px black);
        position: absolute;
        padding-top: 20px;
        padding-left: 20px;
    }
    
    .fStory>p {
        padding-bottom: 10px;
    }
    
    .fStory>p:last-child {
        font-size: 13px;
        color: dodgerblue;
    }
    
    #nav {
        font-size: 18px;
        position: absolute;
        top: 500px;
        left: 45%;
    }
    
    #nav>a {
        text-decoration: none;
        color: dodgerblue;
        font-weight: bold;
        font-size: 13px;
        text-align: center;
        background: #1f2324;
        padding-left: 3px;
        padding-right: 3px;
        border-radius: 50%;
        border: 2px outset dodgerblue;
        filter: drop-shadow(2px 2px 3px black);
    }
    
    #nav>a:hover {
        color: white;
        transition: color 0.3s ease;
        border: 2px outset white;
        transition: border 0.3s ease;
    }
    
    #nav>span a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        text-align: center;
        padding-left: 5px;
    }
    
    #nav>span a:hover {
        color: #1f2324;
        transition: color 0.3s ease;
    }
    
    .selStory {
        background-color: dodgerblue;
        border: 2px outset white;
        border-radius: 50%;
        filter: drop-shadow(2px 2px 3px black);
    }
    
    .selStory:hover {
        border: 2px outset #1f2324;
        transition: border 0.3s ease;
    }
    /*///////////
    CYRRENCY BOX
    ///////////*/
    
    #chooseMain {
        display: block;
        width: 100%;
        height: 200px;
    }
    
    .currency-box {
        float: left;
        width: 50%;
        height: 200px;
        background-color: dodgerblue;
        filter: hue-rotate(0deg);
    }
    
    .currency-box:hover {
        filter: hue-rotate(360deg);
        transition: filter 1s ease;
    }
    
    #currMon {
        width: 100%;
        height: 50px;
        color: white;
        font-size: 18px;
        background-color: #1f2324;
        text-align-last: center;
    }
    
    #chCourse {
        width: 100%;
        height: 150px;
        display: inline-block;
    }
    
    #chCourse>p {
        box-sizing: border-box;
        float: left;
        color: white;
        font-size: 21px;
        padding-top: 30px;
        filter: drop-shadow(5px 5px 8px black);
    }
    
    #chCourse>p>img {
        box-sizing: border-box;
        float: left;
        width: 140px;
        height: auto;
        padding-right: 20px;
        padding-left: 20px;
        filter: drop-shadow(5px 5px 8px black);
    }
    /*///////////
    WEATHER BOX
    ///////////*/
    
    .weather {
        float: left;
        width: 50%;
        height: 200px;
        background-color: dodgerblue;
        filter: hue-rotate(0deg);
    }
    
    .weather:hover {
        filter: hue-rotate(360deg);
        transition: filter 1s ease;
    }
    
    #cities {
        width: 100%;
        height: 50px;
        color: white;
        font-size: 18px;
        background-color: #1f2324;
        text-align-last: center;
    }
    
    #weather {
        width: 100%;
        height: 150px;
        display: inline-block;
    }
    
    #weather>p {
        box-sizing: border-box;
        float: left;
        color: white;
        font-size: 18px;
        padding-top: 10px;
        padding-left: 40px;
        filter: drop-shadow(5px 5px 8px black);
    }
    
    #weather>img {
        box-sizing: border-box;
        float: left;
        width: 100px;
        height: auto;
        padding-left: 40px;
        filter: drop-shadow(5px 5px 8px black);
    }
    /*//////
    FOOTER
    //////*/
    
    footer {
        width: 100%;
        height: auto;
        background-image: url('../images/carbonFooter.jpg');
        border-top: outset 5px #606060;
        border-bottom: outset 5px #606060;
    }
    
    .newsSites {
        display: inline-block;
        width: 100%;
    }
    
    .newsSites>article {
        box-sizing: border-box;
        float: left;
        width: 30%;
        height: auto;
        filter: drop-shadow(5px 5px 8px black);
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .partnerNews>a>img {
        width: 150px;
        height: 100px;
        margin-left: 30%;
        border: outset 5px #606060;
    }
    
    .partnerNews>a {
        text-decoration: none;
        font-size: 13px;
        text-align: center;
        color: white;
        opacity: 0.8;
    }
    
    .partnerNews>a:hover {
        opacity: 1;
    }
    
    .partnerNews>a>figcaption {
        height: auto;
        text-align: center;
        margin: 0% 15% 0% 30%;
    }
    
    .partnerNews>a>figcaption>p {
        color: dodgerblue;
    }
    
    .partnerNews>a>figcaption>h1 {
        font-weight: bold;
    }
    /*////////////////
    FOOTER SECOND PART
    ////////////////*/
    
    .socialCanals {
        display: inline-block;
        width: 100%;
        border-top: outset 5px #606060;
    }
    
    .socialCanals>article {
        box-sizing: border-box;
        float: left;
        width: 30%;
        height: auto;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    
    .socialCanals>article>.social>a>img {
        width: 150px;
        height: 150px;
        margin-left: 30%;
        filter: drop-shadow(1px 1px 1px white);
    }
    
    .social>a {
        text-decoration: none;
        font-size: 21px;
        text-align: center;
        color: white;
        opacity: 0.8;
        font-weight: bold;
    }
    
    .social>a:hover {
        opacity: 1;
    }
    
    .social>a>figcaption {
        height: auto;
        text-align: center;
        margin: 0% 15% 0% 30%;
    }
    /*////////////////
    FOOTER THIRD PART
    ////////////////*/
    
    #footerLinks {
        display: inline-block;
        width: 100%;
        border-top: outset 5px #606060;
        background-color: #1f2324;
    }
    
    #footerLinks>a {
        display: block;
        float: left;
        text-decoration: none;
        font-size: 18px;
        text-align: center;
        color: white;
        font-weight: bold;
        margin: 4% 0% 1% 13%;
        filter: drop-shadow(5px 5px 8px black);
    }
    
    #footerLinks>a:hover {
        color: dodgerblue;
        transition: color 0.3s ease;
    }
    
    #centerA {
        border-left: 2px solid white;
        border-right: 2px solid white;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    #footerLinks>a>img {
        width: 50px;
        height: 50px;
        filter: drop-shadow(1px 1px 1px black);
        margin-top: 0%;
        filter: hue-rotate(0deg);
    }
    
    #footerLinks>a>img:hover {
        filter: hue-rotate(360deg);
        transition: filter 2s ease;
    }
    /*///////
    SITE MAP
    ////////*/
    
    #siteCard {
        display: none;
    }
    
    #siteCard>ul {
        width: 100%;
        height: auto;
        background-image: url('../images/siteMap.png');
    }
    
    .cardLi {
        padding: 1% 0% 1% 45%;
    }
    
    .cardLi>a {
        text-decoration: none;
        color: white;
        font-size: 21px;
        font-weight: bold;
        background-color: #1f2324;
        border-radius: 35px;
        padding: 0.5% 1% 0.5% 1%;
    }
    
    .cardLi>a:hover {
        color: dodgerblue;
        transition: color 0.5s ease;
        background-color: white;
        transition: background-color 0.5s ease;
    }
    /*////////
    CONTACT US
    ////////*/
    
    #contactUs {
        width: 40%;
        height: auto;
        position: fixed;
        margin-left: 30%;
        top: 30%;
        background-color: dodgerblue;
        z-index: 10;
        display: none;
    }
    
    #contactUs:hover {
        background-color: #1f2324;
        transition: background-color 1s ease;
    }
    
    #contactUs>p {
        color: white;
        font-size: 21px;
        font-weight: bold;
        padding: 1% 0% 2% 20%;
        filter: hue-rotate(0);
    }
    
    #contactUs>img {
        width: 20px;
        height: 20px;
        padding-top: 10px;
        padding-left: 10px;
        filter: hue-rotate(0deg)
    }
    
    #contactUs>img:hover {
        filter: hue-rotate(360deg);
        transition: filter 2s ease;
    }
    /*/////////
    REGISTRATION
    //////////*/
    
    #registrationForms {
        width: 60%;
        height: 400px;
        position: fixed;
        margin-left: 20%;
        top: 30%;
        background-color: dodgerblue;
        z-index: 10;
        display: none;
    }
    
    #loginForm {
        width: 80%;
        padding: 50px;
        margin: auto;
        margin-top: 20px;
        display: block;
        background-color: deepskyblue;
    }
    
    #loginForm>input {
        width: 40%;
        height: 30px;
        color: dodgerblue;
        font-size: 20px;
    }
    
    #loginForm>button {
        width: auto;
        height: 40px;
        font-size: 20px;
        color: white;
        background-color: dodgerblue;
    }
    
    #registration {
        width: 80%;
        padding: 50px;
        margin: auto;
        margin-top: 20px;
        display: block;
        background-color: coral;
    }
    
    #registration>input {
        width: 40%;
        height: 30px;
        color: orangered;
        font-size: 20px;
    }
    
    #registration>button {
        width: auto;
        height: 40px;
        font-size: 20px;
        color: white;
        background-color: orangered;
    }
    
    #ExitImageLogin {
        padding-left: 10px;
        padding-top: 10px;
        width: 20px;
        height: 20px;
        filter: hue-rotate(0deg)
    }
    
    #ExitImageLogin:hover {
        filter: hue-rotate(360deg);
        transition: filter 2s ease;
    }
    /*///////////////
    Responsive Layout
    ///////////////*/
    
    @media all and (max-width:900px) {
        #firstNavigation {
            font-size: 8px;
        }
        .partnerNews>a>img {
            width: 100px;
            height: 100px;
            border: outset 3px white;
        }
    }
    
    @media all and (max-width:700px) {
        #search:hover {
            width: 50px;
            transition: width 0.5s ease;
        }
        #search:focus {
            width: 50px;
        }
        .partnerNews>a>img {
            width: 50px;
            height: 50px;
            border: outset 2px white;
        }
        footer {
            border-top: outset 2px white;
            border-bottom: outset 2px white;
        }
    }
    
    @media all and (max-width:590px) {
        body {
            background-attachment: fixed;
        }
        #navigationSectionTwo {
            display: none;
        }
        #mobile {
            display: block;
            text-align: center;
            background-color: #2b303b;
            color: white;
        }
        .advertising {
            display: none;
        }
        #mobileNav select {
            width: 100%;
        }
        #container {
            width: 100%;
            margin-left: 0%;
        }
        #blackPart {
            width: 100%;
            height: 45px;
        }
        #homePage>h1 {
            margin-top: 8px;
            font-size: 13px;
        }
        #brandSite {
            height: 45px;
            padding-top: 0px;
        }
        #firstNavigation {
            font-size: 8px;
            margin-bottom: 0px;
        }
        .partnerNews>a {
            font-size: 8px;
        }
    }